/*
Desire Revon
MIU:Project 3
Term:1206
I Remember Mobile Application
*/


html {
	background:#8B7355;
}

header{
 text-align:center;
 margin-left:130px;
}

h2{
	font-family: Helvetica;
	background-color: #DDD;
	border: 1px solid #DDD;
	margin:20px;
	text-align:center;
 	margin-right:-100px;
	}

p {
	font-family: Helvetica;
	font-size: 17px;
	padding-left: 70px;
}

header{
	color:#FFFFFF;
}

legend {
	font-family: Helvetica;
	background-color: #444;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
}

ul, li {
	list-style-type: none;
	font-family: Helvetica;
	background-color: #DDD;
	border: 1px solid #DDD;
}

fieldset {
	background-color: #FFF8DC;
	border-color: #00CED1;
}

textarea:focus, input:focus { 
border: 1px solid #900; 
background-color: #00CED1; 
}

form {
	font-family: Helvetica;
	color: #333333;
	font-size: 15px;
}

#button{
 position:center;
}


a{
	font: 16px century gothic;
	color: #FFD39B;
	text-align: center;
}

a:hover{
	color:#FFFFFF;

	
	
	